<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yelpcamp - Home</title>
  </head>
  <body>
    <h1>YelpCamp - Home</h1>

    <a href="/campgrounds">View All Campgrounds</a>
  </body>
</html>
